/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navigation */
header {
    padding: 20px 40px;
    background-color: black;
    color: antiquewhite;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1 {
    background-color: black;
}
header nav {
}
header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
header nav ul li a {
    color: antiquewhite;
    text-decoration: none;
    margin: auto 20px;
    font-size: 1.8vw;
}
/* navigation end */

/* hero */
.hero {
    background-image: url("../images/Hero-image.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.hero-text {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    font-size: 30px;
    line-height:1.5
}
.hero-image{
    width: 40%;
    margin: 3.5%;
}
.hero img {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-width: 3px;
    border-color: antiquewhite;
}
/* hero end */

section {
    padding: 60px;
}

.section-title{
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.flex-row {
    display: flex;
}

/* bio */
.bio {
    text-align: center;
}
.bio h2 {
    margin-bottom:35px;
}
/* bio end */
/* showcase */
.showcase {}
.primary-showcase {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project {
    margin: 20px;
    flex: 1;
}
.project img{
    width: 100%;
}
.secondary-showcases {}
/* showcase end*/
/* contact info */
.contact-info {}
/* contact info end */
/* cv */
.cv {}
/* cv end */
/* footer */
footer {
    background: black;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
footer h2 {
    color:antiquewhite;
    font-size: 30px;
    margin:0;
}
/* footer end */
/* media queries for smaller screens and mobile devices */
/* media queries for smaller screens and mobile devices end */